*{
    font-family: 'Kanit', sans-serif;
    font-family: 'Roboto', sans-serif;
  }


  .carousel-image-1{
    background-size: cover;
    }
  .carousel-image-2{
    background-size: cover;
  }
  .carousel-image-3{
    background-size: cover;
  }
  .carousel-image-4{
    background-size: cover;
  }

  .dark-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  #gallery{
    background-color: black;
    color: white;
  }
  .gal{
    width: 506px;
    height: 509px;
    margin-bottom: 3rem;
    }

  body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7fa;
  }

  .sidebar ul li {
    padding: 15px;
    border-top: 1px solid #3e4771;
    border-bottom: 1px solid #2c3552;
    transition: background-color 0.3s;
  }
  .sidebar ul li a {
    color: #cbd3e1;
    text-decoration: none;
    display: block;
  }
  .sidebar ul li:hover {
    background-color: #3e4771;
  }
  .sidebar ul li i {
    margin-right: 10px;
  }
  .content {
    margin-left: 250px;
    padding: 20px;
  }
  .card {
    margin: 20px;
  }