<style>
  .fa-brands {
    margin: 1rem;
  }
  .no-underline {
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .custom-list .custom-item {
    display: flex;
    align-items: center;
  }
  .custom-item i {
    color: white;
    transition: color 0.3s, box-shadow 0.3s; 
  }
  .custom-item:hover i, .custom-item:active i, .no-underline:hover .item-text:active  {
    color: #FFD700;
  }
  .custom-item:hover, .custom-item:active {
    box-shadow: 0 5px 100px rgba(255, 255, 255, 0.3);
    color: #FFD700;
    transition: color 0.3s, box-shadow 0.3s; 
  }
  .custom-item .item-text {
    font-size: 14px;
    color: white;
  }
  .custom-item:hover .item-text, .custom-item:active .item-text {
      color: #FFD700;
      transition: color 0.3s, box-shadow 0.3s;  
  }
  #footer{
    margin-top: 20px;
  }

  
</style>

    <div style="width: 100%; background: black;" id="catagory">
        <div class="row">
            <div class="container" >
                <div class="row">
                  <div class="col" style="margin: 1rem;">
                    <h1 class="d-inline" style="color: #E09145;">Django</h1>
                    <h2 class="d-inline" style="margin-left: 4rem; color:darkgrey;">Category</h2>
                  </div>
                </div>
              </div>


              <div class="col-md-3">
                <div class="custom-list">
                    <div class="custom-item">
                      <i  class="material-symbols-outlined" >arrow_forward_ios</i>
                      <a href="#" class="no-underline"><span class="item-text">คอมพิวเตอร์</span></a>
                    </div>
                    <div class="custom-item">
                      <i  class="material-symbols-outlined" >arrow_forward_ios</i>
                      <a href="#" class="no-underline"><span class="item-text">ภาพยนต์</span></a>
                    </div>
                    <div class="custom-item">
                        <i  class="material-symbols-outlined" >arrow_forward_ios</i>
                        <a href="#" class="no-underline"><span class="item-text">กีฬาสันทนาการ</span></a>
                      </div>
                      <div class="custom-item">
                        <i  class="material-symbols-outlined" >arrow_forward_ios</i>
                        <a href="#" class="no-underline"><span class="item-text">ความสามารถพิเศษและนักดนตรี</span></a>
                      </div>
                  </div>
                </div>
                
                  
        
              
              
                <div class="col-md-3">
                    <div class="custom-list">
                        <div class="custom-item">
                          <i  class="material-symbols-outlined" >arrow_forward_ios</i>
                          <a href="#" class="no-underline"><span class="item-text">เครื่องใช่ไฟฟ้า & กล้อง</span></a>
                        </div>
                        <div class="custom-item">
                          <i  class="material-symbols-outlined" >arrow_forward_ios</i>
                          <a href="#" class="no-underline"><span class="item-text">ของเล่นและเกม</span></a>
                        </div>
                        <div class="custom-item">
                            <i  class="material-symbols-outlined" >arrow_forward_ios</i>
                            <a href="#" class="no-underline"><span class="item-text">ดอกไม้และพืช</span></a>
                          </div>
                          <div class="custom-item">
                            <i  class="material-symbols-outlined" >arrow_forward_ios</i>
                            <a href="#" class="no-underline"><span class="item-text">หนังสือการ์ตูและอนิเมชัน</span></a>
                          </div>
                      </div>
                    </div>
                

                    <div class="col-md-3">
                        <div class="custom-list">
                            <div class="custom-item">
                              <i  class="material-symbols-outlined" >arrow_forward_ios</i>
                              <a href="#" class="no-underline"><span class="item-text">เพลง</span></a>
                            </div>
                            <div class="custom-item">
                              <i  class="material-symbols-outlined" >arrow_forward_ios</i>
                              <a href="#" class="no-underline"><span class="item-text">แฟชั่น</span></a>
                            </div>
                            <div class="custom-item">
                                <i  class="material-symbols-outlined" >arrow_forward_ios</i>
                                <a href="#" class="no-underline"><span class="item-text">บ้าน</span></a>
                              </div>
                              <div class="custom-item">
                                <i  class="material-symbols-outlined" >arrow_forward_ios</i>
                                <a href="#" class="no-underline"><span class="item-text">สุขภาพและความงาม</span></a>
                              </div>
                          </div>
                        </div>

                        <div class="col-md-3">
                          <div class="custom-list">
                              <div class="custom-item">
                                <i  class="material-symbols-outlined" >arrow_forward_ios</i>
                                <a href="#" class="no-underline"><span class="item-text">เครื่องเขียน</span></a>
                              </div>
                              <div class="custom-item">
                                <i  class="material-symbols-outlined" >arrow_forward_ios</i>
                                <a href="#" class="no-underline"><span class="item-text">อุปกรณ์และนาฬิกา</span></a>
                              </div>
                              <div class="custom-item">
                                  <i  class="material-symbols-outlined" >arrow_forward_ios</i>
                                  <a href="#" class="no-underline"><span class="item-text">รถสปอร์ต</span></a>
                                </div>
                                <div class="custom-item">
                                  <i  class="material-symbols-outlined" >arrow_forward_ios</i>
                                  <a href="#" class="no-underline"><span class="item-text">รองเท้า</span></a>
                                </div>
                            </div>
                          </div>
        </div>
    </div>

    <footer style="width: 100%;" id="footer">
      <div  style="width: 100%; background: black; display: flex; justify-content: center;">
          <div style="display:flex;flex-direction: column; align-items: center;">
              <div style="display: flex;justify-content: center;">
                  <!-- <i class="fa-brands fa-facebook fa-3x"></i>
                  <i class="fa-brands fa-tiktok fa-3x"></i>
                  <i class="fa-brands fa-instagram fa-3x"></i>
                  <i class="fa-brands fa-twitter fa-3x"></i> -->
                  <i class="fa-brands fa-facebook fa-3x" style="color: #ffffff;"></i>
                  <i class="fa-brands fa-tiktok fa-3x" style="color: #ffffff;"></i>
                  <i class="fa-brands fa-instagram fa-3x" style="color: #ffffff;"></i>
                  <i class="fa-brands fa-twitter fa-3x" style="color: #ffffff;"></i>
              </div>
              <p style="color: #ffffff;" style="display: flex; justify-content: center;"> Copyright &copy; Django Official 2024</p>
          </div>
      </div>
    </footer>
    
